<html>
  <head>
    <title>success</title>
  </head>
  <body>
    <p>File uploaded successfully</p>
    <p>File Name: {{name}}</p>
    <h2>Preview</h2>
    {% block content %}
    {% if is_video %}
      <video autoplay="autoplay" controls="controls" preload="preload" >
        <source src="{{ url_for('static', filename="/files/og/" + name) }}" type="video/mp4"></source>
      </video>
    {% else %}
      <img src="{{ url_for('static', filename="/files/og/" + name) }}" />
    {% endif %}
    {% endblock content %}
    <form action="processing" method="post" enctype="multipart/form-data">
      <input type="hidden" name="filename" value="{{name}}"/>
      <input type="submit" value="Process" />
    </form>
  </body>
</html>