body {
  background-color: #cdcdcd;
}

.primary-button {
  margin-top: 10px;
  background-color: black;
  color: white;
  border-style: none !important;
  padding: 10px !important;
  border-radius: 100px !important;
}

.table-button {
  background-color: black;
  color: white;
  border-style: none !important;
  border-radius: 100px !important;
}

.white-box {
  background-color: white !important;
  padding: 16px !important;
  border-radius: 20px !important;
  margin-top: 10px;
  height: 380px;
}

.white-box-no-scroll {
  margin-top: 10px;
  background-color: white !important;
  padding: 16px !important;
  border-radius: 20px !important;
}

.fix-box {
  height: 300px !important;
  overflow: scroll;
}

.mock-sm {
  background-color: grey;
  color: white;
  border-radius: 10px !important;
  width: 100%;
  padding-block: 70px;
  text-align: center;
}

img {
  border-radius: 10px !important;
}

.upload-input {
  padding: 5px;
}

.upload-input::file-selector-button {
  background-color: black;
  color: white;
  border-style: none !important;
  border-radius: 100px !important;
}

.image-col {
  height: 360px;
  overflow: scroll;
}
